body {
  font-family: Helvetica, Verdana, Arial, "san serif";
  /*background-color: darkgray;*/
  background-image: linear-gradient(60deg, red, yellow, blue);
  padding: 25px;
  font-size: 120%;
  margin: auto;
  border: solid black;
}

div#subcontent {
  padding: 30px;
  background-color: lightgray;
  border: solid 1px #333333;
  border-radius: 25px;
  height: 100vh;
  width: 50vh;
  box-shadow: -3px 3px;
}

#links {
  background-color: white;
  position: sticky;
  top: 0px;
  text-align: center;
  height: 40px;
  width: 100%;
  margin: auto;
  border: solid black;
}

h1, h2, h3 {
  font-family: "Courier New", monospace;
  color: blue;
  text-transform: capitalize;
  letter-spacing: normal;
  text-shadow: -3px 3px;
}

img {
  width: 400px;
  height: auto;
  filter: grayscale(100%);
  object-fit: contain;
}

img:hover {
  width: 500px;
  height: auto;
  transform: rotateZ(-10deg);
  filter: saturate(100%);
}

a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
}
