body {
  font-family: Helvetica, Verdana, Arial, "san serif";
  background-color: darkgray;
  padding: 25px;
  font-size: 120%;
  margin: auto;
  border: solid black;
}

div#subcontent {
  padding: 30px;
  background-color: lightgray;
  border: solid 1px #333333;
  height: 100vh;
  width: 50vh;
}

#sidebar {
  float: right;
  display: inline-block;
  width: 1em;
  min-width: 300px;
  margin: auto;
}

#links {
  background-color: white;
  position: sticky;
  top: 0px;
  text-align: center;
  height: 40px;
  width: 100%;
  margin: auto;
  border: solid black;
}

h1, h2, h3 {
  font-family: "Courier New", monospace;
  color: blue;
  text-transform: capitalize;
  letter-spacing: normal;
}

img {
  width: 400px;
  height: auto;
}

img:hover {
  width: 500px;
  height: auto;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
}
