@keyframes animation {
  from {color: blue;}
  to {color: red;}
}

body {
  font-family: Helvetica, Verdana, Arial, "san serif";
  /*background-color: darkgray;*/
  background-image: linear-gradient(60deg, red, yellow, blue);
  padding: 25px;
  font-size: 120%;
  margin: auto;
  border: solid black;
}

div#subcontent {
  padding: 30px;
  background-color: lightgray;
  border: solid 1px #333333;
  border-radius: 25px;
  height: 100em;
  width: 80em;
  box-shadow: -3px 3px;
}

nav#links {
  background-color: white;
  position: sticky;
  top: 0px;
  text-align: center;
  height: 40px;
  width: 100%;
  margin: auto;
  border: solid black;
}

div#subcontent div#columns {
  margin: 0;
  position: absolute;
  column-count: 3;
  column-gap: 8em;
  column-fill: balance;
}

div#subcontent div#columns h2 {
  font-family: "Courier New", monospace;
  color: blue;
  animation-name: animation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-align: left;
  margin: auto;
  text-transform: capitalize;
  letter-spacing: normal;
  text-shadow: -1px 2px;
}

h1{
  font-family: "Courier New", monospace;
  color: blue;
  text-transform: capitalize;
  letter-spacing: normal;
  text-shadow: -3px 3px;
}

div#subcontent div#image img {
  margin-bottom: 10px;
  width: 700px;
  height: auto;
  filter: grayscale(100%);
  object-fit: contain;
}

div#subcontent div#image img:hover {
  width: 800px;
  height: auto;
  transform: rotateZ(-10deg);
  filter: saturate(100%);
  transition: 2s;
}

a:hover {
  text-decoration: underline;
}
